---
layout: default
title: Fresh ‘n Wild - Restaurant at Utopia
seo:
  title: Fresh 'n Wild Restaurant at Utopia | Unique Outdoor Dining in Windhoek
  description: Discover Fresh 'n Wild Restaurant at Utopia—an outdoor dining gem offering fresh, local dishes and healthy dishes in a calm outdoor environment. Perfect for foodies and families to enjoy a delicious meal.
  social_image:
  keywords: outdoor dining, fresh cuisine, unique dining experiences, local and trendy food restaurant, vegeterian options, Windhoek
  hide-from-google: false
pizza-menu:
 - name: Garlic Pizza Bread
   description: Peppadew | feta | rocket
   price: N$85
 - name: Margherita Pizza
   description: Mozzarella | tomato base | pizza herbs
   price: N$85
 - name: Pepperoni
   description: Feta | garlic
   price: N$155
 - name: Wild
   description: Ham | pineapple
   price: N$155
 - name: Othello
   description: Ham | mushroom
   price: N$155
 - name: Bella
   description: Bacon | feta | avo
   price: N$165
 - name: Butternutter
   description: Roasted butternut | feta | cherry tomato | rocket | toasted seeds | balsamic reduction
   price: N$165
 - name: Caprese
   description: Buffalo mozzarella | tomato | avo | balsamic reduction | basil pesto
   price: N$175
 - name: Princess
   description: Grilled chicken breast | onion | bacon | feta | avocado | sweet chilli sauce
   price: N$175
 - name: Mexican
   description: Spicy mince | green pepper | onion | garlic | chilli
   price: N$170
 - name: Best of Both
   description: Mushroom | onion | green pepper | bacon | ham
   price: N$179
 - name: Clausi
   description: Spinach | mascarpone | pepperoni | balsamic reduction
   price: N$179
 - name: Utopia
   description: Slow roasted pulled pork | mushrooms | onion | homemade sticky BBQ sauce
   price: N$179
 - name: Fresh
   description: Mozzarella | cherry tomato | parma ham | rocket | balsamic reduction | shredded parmesan
   price: N$195
 - name: Smoking Salmon
   description: Smoked salmon | cream cheese | avo
   price: N$205
 - name: Extra toppings
   description: Avo (SQ), pineapple (N$15), bacon (N$40), Peppadew (N$15), parma ham (N$75), mozzarella (N$40), chicken (N$25), ham (N$40)
   price: 

---
   
   <!-- This is the hero banner -->
    <section class="grid bg-image bg-image-restaurant-hero bg-overlay bg-overlay-gradient tall-80 lazy">
        
        <div class="col-12-middle uppercase center padded light-text">
            <h1 class="featured-font no-text-transform">Book your Table</h1>
            <h2 class="margin-t-1">085 788 9630</h2>
        </div>
      
    </section>


    <!---  Menu intro----------->
    <section class="grid-center padded padded-b-0 center"> 

        <div class="col-4_sm-10 padded-1 mob-padded-0" data-aos="fade-up">
            <div class="bg-image bg-image-breakfast-2 square lazy"></div>
            <div>
                <h3 class="featured-font big-text margin-b-05 margin-t-05">Day Menu</h3>
                <a href="#day-menu" class="button-dark menu-reveal" data-menu="day-menu">View Menu</a>
            </div>
        </div>

        <div class="col-4_sm-10 padded-1 mob-padded-0" data-aos="fade-up">
            <div class="bg-image bg-image-steak square lazy"></div>
            <div>
                <h3 class="featured-font big-text margin-b-05 margin-t-05">Evening Menu</h3>
                <a href="#evening-menu" class="button-dark menu-reveal" data-menu="evening-menu">View Menu</a>
            </div>
        </div>

        <div class="col-4_sm-10 padded-1 mob-padded-0" data-aos="fade-up">
            <div class="bg-image bg-image-pizza square lazy"></div>
            <div>
                <h3 class="featured-font big-text margin-b-05 margin-t-05">Pizza Menu</h3>
                <a href="#pizza-menu" class="button-dark menu-reveal" data-menu="pizza-menu">View Menu</a>
            </div>
        </div>
    
    </section>



    <!-- This is the Day Menu section -->
    <section class="padded menu-content" id="day-menu"> 
        <h2 class="center"><span>Day Menu</span></h2>

        {% include day-menu.html %}

    </section>



    <!-- This is the Evening Menu section -->
    <section class="padded menu-content" id="evening-menu" style="display:none;"> 
        <h2 class="center"><span>Evening Menu</span></h2>

        {% include evening-menu.html %}
        
    </section>


       <!-- This is the Pizza Menu section -->
       <section class="padded menu-content" id="pizza-menu" style="display:none;"> 
        <h2 class="center"><span>Pizza Menu</span></h2>

        {% include pizza-menu.html %}
    

    </section>



    <!---More to explore -Links to sections ----------->
    
    <section class="grid-spaceAround padded-tb center bg-featured">
        <h2 class="uppercase col-12 padded-b-0">More to explore <br> <span>at Utopia</span></h2>
        <div class="grid-spaceAround">
            <div class="col-3_sm-10 padded-1 sm-padded">
                <a href="/calendar.html">
                    <img src="/images/calendar-icon.svg" class="icon-size" alt="tomato icon linking to the whats on page"/>
                </a>
                <p>Check out <span>what's happening</span> at Fresh ‘n Wild Utopia. From great specials to weekends filled with music.</p>
            </div>
            <div class="col-3_sm-10 padded-1 sm-padded">
                <a href="/catering.html">
                    <img src="/images/platter-icon.svg" class="icon-size" alt="food skewer icon linking to our catering page"/>
                </a>
                <p>Entertaing made easy. Choose from <span>our platters</span> for any occassion.
                </p>
            </div>
            <div class="col-3_sm-10 padded-1 sm-padded">
                <img src="/images/boutique-icon.svg" class="icon-size" alt="boutique shopping paper bag icon" />
                <p><span>Wild Living Boutique</span> stocks a wide variety of unique gifts and artisan goods for the art lover or home decorator.</p>
            </div>
        </div>
    </section>



    <!---Location Section-Links to sections ----------->


    <section class="padded center">
        <div>
            <h2 class="uppercase">Opening Hours:</h2>
            <p>Monday - Saturday: 7h00 – 22h00<br>
                Sunday: 7h30 – 16h30
            </p>
        </div>
        <div class="grid-spaceAround padded-sm">
            <div class="col-4_sm-7 padded-1">
                <a href="tel:+264857889630">
                    <img data-src="/images/phone-icon-gold.svg" class="icon-2 lazy" alt="call us at +264 85 788 9630"/>
                </a>
                <p class="font-weight-bold">085 788 9630</p>
            </div>
            <div class="col-4_sm-7 padded-1">
                <a href="mailto:utopia@freshnwild.net">
                    <img data-src="/images/mail-icon-gold.svg" class="icon-2 lazy" alt="e-mail us at utopia@freshnwild.net"/> 
                </a>
                <p class="font-weight-bold"> utopia@freshnwild.net</p>
            </div>
            <div class="col-4_sm-7 padded-1">
                <img data-src="/images/location-icon-gold.svg" class="icon-2 lazy" alt="find us at No 64 Nelson Mandela Avenue, Windhoek"/>
                <p class="font-weight-bold"> No 64 Nelson Mandela Avenue, Windhoek, Namibia </p>
            </div>
        </div>
        <div class="grid-spaceAround">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.3697053313567!2d17.09756776275966!3d-22.565271900000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1c0b1b4b2b9560cd%3A0x7bbd6f01c96f837a!2sFresh%20%E2%80%99n%20Wild%20at%20Utopia!5e0!3m2!1sen!2sna!4v1730556856456!5m2!1sen!2sna" 
                width="900" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
       

    </section>
