<div class="grid-spaceAround-middle padded-sm padded-b">
    <div class="col-9_sm-11">
        <div class="accordion">
            <hr class="col-11 border-line">
            <div class="accordion-item">
                <h4 class="uppercase bold accordion-header">Small Bites</h4>
                <div class="accordion-content">
                    <div class="grid">
                        <div class="col-10">
                            <p class="font-weight-bold">Marinated Olives & Feta</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$55</span>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Falafel</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$75</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Tzatziki | hummus</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Biltong & Droewors</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$75</span>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Beef Rump Kapana</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$125</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Vetkoek | salsa</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Bitterballen</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$85</span>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Cheese Croquettes</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$85</span>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Panko Prawns</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$125</span>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Tuna</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$145</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Sashimi | yuzu | soya</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Grilled Camembert</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$145</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Fig preserve | nuts | phyllo</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-11 border-line">
            <div class="accordion-item">
                <h4 class="uppercase bold accordion-header">Starters</h4>
                <div class="accordion-content">
                    <div class="grid">
                        <div class="col-10">
                            <p class="font-weight-bold">Soup of the Day</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$75</span>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Beef Trinchado</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$115</span>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Korean Wings</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$115</span>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Patagonian Baby Squid</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$125</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Velouté | basmati</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Beef Carpaccio</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$145</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Parmesan | rocket</p>
                        </div>
        
                        <!-- <div class="col-10">
                            <p class="font-weight-bold">Za’atar Crusted Prawns</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$165</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Herbed bulghar wheat | citrus sumac</p>
                        </div> -->
                    </div>
                </div>
            </div>
            <hr class="col-11 border-line">
            <div class="accordion-item">
                <h4 class="uppercase bold accordion-header"> Something Green </h4>
                <div class="accordion-content">
                    <div class="grid">
                        <div class="col-10">
                            <p class="font-weight-bold">Greek Salad</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$135</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Tomato | cucumber | peppers | olives | feta</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Falafel Buddha Bowl</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$145</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Falafel | hummus | chopped salad | quinoa | roast butternut | tahina lemon</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Burrata Salad</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$155</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Tomato | mozzarella | greens</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Mediterranean Chicken</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$165</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Grilled lemon & herb chicken | greens | tomato | cucumber | red onion | avo | marinated olives</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Thai Beef Salad</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$185</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Soy | chilli | garlic | Asian slaw</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Halloumi, Roast Veg, Quinoa Bowl</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$175</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Quinoa | roast veg | halloumi | mixed salad | mixed seeds</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Teriyaki Salmon Bowl</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$295</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Salmon | honey | soy | chilli | garlic | ginger | broccoli florets | cucumber | avocado | brown rice | sesame seeds | ginger ponzu | avo salsa</p>
                        </div>
                     
                    </div>
                </div>
            </div>
            <hr class="col-11 border-line">
            <div class="accordion-item">
                <h4 class="uppercase bold accordion-header">Burger Bar</h4>
                <div class="accordion-content">
                    <div class="grid">
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">100% pure Namibian beef patties, flame grilled to perfection dressed with lettuce, tomato, pickled red onion, cucumber and our Utopia burger sauce</p>
                        </div>
                        <div class="col-10">
                            <p class="font-weight-bold">Cheesy Beef Burger</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$165</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Onion marmalade | mild cheese | beer battered onion rings</p>
                        </div>
        
                        <!-- <div class="col-10">
                            <p class="font-weight-bold">Chilli Cheese Burger</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$175</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Chilli cheese bombs | salsa</p>
                        </div> -->
        
                        <div class="col-10">
                            <p class="font-weight-bold">Nacho Burger</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$175</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Flame grilled chicken | cream cheese | guacamole | tomato salsa | mild cheese | nacho crumbs | sriracha mayo</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">OMG</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$175</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Melted camembert | bacon | onion marmalade</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Truffle Infused Burger</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$185</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Creamy truffle infused mushroom sauce | crispy parma ham</p>
                        </div>
        
                        <!-- <div class="col-10">
                            <p class="font-weight-bold">Double Whammy</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$225</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Double beef patty | double cheese</p>
                        </div> -->
                        
                    </div>
                </div>
            </div>
            <hr class="col-11 border-line">
            <div class="accordion-item">
                <h4 class="uppercase bold accordion-header">From the Butcher</h4>
                <div class="accordion-content">
                    <div class="grid">
                        <!-- <div class="col-9">
                            <p class="font-weight-bold">Chicken Wings 300g / 600g</p>
                        </div>
                        <div class="col-3">
                            <span class="price">N$165 / N$285</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Grilled & basted with BBQ sauce | onion rings dipping sauce | fries</p>
                        </div> -->
        
                        <div class="col-10">
                            <p class="font-weight-bold">Lamb Chops</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$285</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Infused with garlic, lemon & rosemary | medley of veg | mash | gravy</p>
                        </div>

                        <!-- <div class="col-10">
                            <p class="font-weight-bold">Pork Ribs 400g</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$275</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Grilled & basted with BBQ sauce | fries | onion rings | salad</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Pork Rib & Wing Combo</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$295</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">200g ribs & 300g wings, grilled & basted with BBQ sauce | onion rings | dipping sauce | fries</p>
                        </div> -->
        
        
                        <div class="col-10">
                            <p class="font-weight-bold">Game Steak 250g</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$295</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Wrapped in bacon | flame grilled | red wine sauce | served with your choice of side</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Game Trio</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$395</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Fillets of game | pepper sauce | mushroom sauce | camembert | deep fried pap balls | medley of veg</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Beef Fillet Mignon 250g</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$345</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Puff pastry wedge | medley of veg | truffle infused mushroom sauce</p>
                        </div>
                        
                        <div class="col-10">
                            <p class="font-weight-bold">Steaks - Namibian</p>
                        </div>
                         <div class="col-11">
                            <p class="font-weight-light smaller-text">All served with fries</p>
                        </div>

                        <div class="col-10">
                            <p class="font-weight-bold">Fillet 250g</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$295</span>
                        </div>
                        <div class="col-10">
                            <p class="font-weight-bold">Rib Eye 300g</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$275</span>
                        </div>
                        <div class="col-10">
                            <p class="font-weight-bold">Rump 400g</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$315</span>
                        </div>
                        <div class="col-10">
                            <p class="font-weight-bold">T Bone 500g</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$340</span>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Extras:</p>
                        </div>
                        <div class="col-2">
                            <span class="price"></span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Jasmine rice (N$45), mash (N$45), sautéed veg (N$45), creamed spinach (N$45), sweet potato & butternut bake (N$45), house salad (N$55)</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Sauces:</p>
                        </div>
                        <div class="col-2">
                            <span class="price"></span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Velvet pepper (N$45), creamy mushroom (N$45), garlic & parsley butter (N$45), velouté (N$45), bordelaise sauce (N$45)</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr class="col-11 border-line">
            <div class="accordion-item">
                <h4 class="uppercase bold accordion-header">House Favourites</h4>
                <div class="accordion-content">
                    <div class="grid">
                        <div class="grid">
                            <div class="col-10">
                                <p class="font-weight-bold">Beef and Spinach Lasagna</p>
                            </div>
                            <div class="col-2">
                                <span class="price">N$145</span>
                            </div>
                            <div class="col-11">
                                <p class="font-weight-light smaller-text">Side salad</p>
                            </div>
            
                            <!-- <div class="col-10">
                                <p class="font-weight-bold">Pasta Alfredo</p>
                            </div>
                            <div class="col-2">
                                <span class="price">N$145</span>
                            </div>
                            <div class="col-11">
                                <p class="font-weight-light smaller-text">Side salad</p>
                            </div> -->
            
                            <div class="col-10">
                                <p class="font-weight-bold">Chicken Cordon Bleu</p>
                            </div>
                            <div class="col-2">
                                <span class="price">N$185</span>
                            </div>
                            <div class="col-11">
                                <p class="font-weight-light smaller-text">Gypsy ham | cheese | mash | mushroom sauce</p>
                            </div>
            
                            <div class="col-10">
                                <p class="font-weight-bold">Chicken/Pork Schnitzel</p>
                            </div>
                            <div class="col-2">
                                <span class="price">N$175</span>
                            </div>
                            <div class="col-11">
                                <p class="font-weight-light smaller-text">Fries | mushroom sauce | side salad</p>
                            </div>
            
                            <div class="col-10">
                                <p class="font-weight-bold">Thai Green Chicken Curry</p>
                            </div>
                            <div class="col-2">
                                <span class="price">N$175</span>
                            </div>
                            <div class="col-11">
                                <p class="font-weight-light smaller-text">Basmati | lime pickle</p>
                            </div>
            
                            <!-- <div class="col-10">
                                <p class="font-weight-bold">Indian Style Chicken Curry</p>
                            </div>
                            <div class="col-2">
                                <span class="price">N$175</span>
                            </div>
                            <div class="col-11">
                                <p class="font-weight-light smaller-text">Basmati | madras paste | lime pickle | poppadum</p>
                            </div> -->
            
                            <div class="col-10">
                                <p class="font-weight-bold">Red Wine Braised Oxtail</p>
                            </div>
                            <div class="col-2">
                                <span class="price">N$285</span>
                            </div>
                            <div class="col-11">
                                <p class="font-weight-light smaller-text">Basmati | roasted butternut</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr class="col-11 border-line">
            <div class="accordion-item">
                <h4 class="uppercase bold accordion-header">Seafood</h4>
                <div class="accordion-content">
                    <div class="grid">
                        <div class="col-10">
                            <p class="font-weight-bold">Patagonian Baby Calamari</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$255</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">White wine | garlic | chorizo | basmati</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Kingklip</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$295</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Pan fried | velouté | medley of veg | mash</p>
                        </div>

                         <div class="col-10">
                            <p class="font-weight-bold">Tuna Steak</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$365</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Lightly seared | bed of spinach | mash | pepper sauce</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Norwegian Salmon</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$395</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Lightly seared | velouté | medley of veg | mash</p>
                        </div>
        
                        <div class="col-8">
                            <p class="font-weight-bold">Tiger Prawns </p>
                        </div>
                        <div class="col-4">
                            <span class="price">N$395</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text"> Nine medium tiger prawns pan fried in olive oil & garlic | basmati | velouté | peri-peri</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr class="col-11 border-line">
            <div class="accordion-item">
                <h4 class="uppercase bold accordion-header">For the little eaters</h4>
                <div class="accordion-content">
                    <div class="grid">
                        <div class="col-10">
                            <p class="font-weight-bold">Chicken Nuggets</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$65</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Fries</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Beef/Chicken Burger</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$65</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Fries</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-11 border-line">
            <div class="accordion-item">
                <h4 class="uppercase bold accordion-header">Dessert</h4>
                <div class="accordion-content">
                    <div class="grid">
                        <div class="col-10">
                            <p class="font-weight-bold">Créme Brulee</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$75</span>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Belgium Chocolate Fondant</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$95</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Créme anglaise</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Malva Pudding</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$55</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Créme anglaise</p>
                        </div>
        
                        <div class="col-8">
                            <p class="font-weight-bold">Ice Cream Hot Choc</p>
                        </div>
                        <div class="col-4">
                            <span class="price">N$55</span>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Warm Apple Crumble</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$65</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-11 border-line">
        </div>
    </div>        
</div>
