<div class="grid-spaceAround-middle padded-sm padded-b">
    <div class="col-9_sm-11">
        <div class="accordion">
            <hr class="col-11 border-line">
            <div class="accordion-item">
                <h4 class="uppercase bold accordion-header">Pizza</h4>
                <div class="accordion-content">
                    <div class="grid">
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Gluten free base available (additional N$55)</p>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">All pizzas served with napolitana sauce & mozzarella cheese</p>
                        </div>
        
                        {% for pizza in site.data.pizza-menu %}
                        <div class="col-10">
                            <p class="font-weight-bold">{{ pizza.name }}</p>
                        </div>
                        <div class="col-2">
                            <span class="price">{{ pizza.price }}</span>
                        </div>
                        {% if pizza.description %}
                            <div class="col-11">
                            <p class="font-weight-light smaller-text">{{ pizza.description }}</p>
                            </div>
                        {% endif %}
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
            
            <hr class="col-11 border-line">
        </div>
    </div>        
</div>











<!-- <div class="grid-spaceAround-middle padded-sm padded-b">
    <div class="col-9_sm-11">
        <div class="accordion">
            <hr class="col-11 border-line">
            <div class="accordion-item">
                <h4 class="uppercase bold accordion-header">Pizza</h4>
                <div class="accordion-content">
                    <div class="grid">
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Gluten free base available (additional N$55)</p>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">All pizzas served with napolitana sauce & mozzarella cheese</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Garlic Pizza Bread</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$85</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Peppadew | feta | rocket</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Margarita Pizza</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$85</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Mozzarella | tomato base | pizza herbs</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Pepperoni</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$155</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Feta | garlic</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Wild</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$155</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Ham | pineapple</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Othello</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$155</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Ham | mushroom</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Bella</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$165</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Bacon | feta | avo</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Butternutter</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$165</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Roasted butternut | feta | cherry tomato | rocket | toasted seeds | balsamic reduction</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Caprese</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$175</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Buffalo mozzarella | tomato | avo | balsamic reduction | basil pesto</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Princess</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$175</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Grilled chicken breast | onion | bacon | feta | avocado | sweet chilli sauce</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Mexican</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$170</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Spicy mince | green pepper | onion | garlic | chilli</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Best of Both</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$179</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Mushroom | onion | green pepper | bacon | ham</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Clausi</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$179</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Spinach | mascarpone | pepperoni | balsamic reduction</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Utopia</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$179</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Slow roasted pulled pork | mushrooms | onion | homemade sticky BBQ sauce</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Fresh</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$195</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Mozzarella | cherry tomato | parma ham | rocket | balsamic reduction | shredded parmesan</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Smoking Salmon</p>
                        </div>
                        <div class="col-2">
                            <span class="price">N$205</span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Smoked salmon | cream cheese | avo</p>
                        </div>
        
                        <div class="col-10">
                            <p class="font-weight-bold">Extra toppings:</p>
                        </div>
                        <div class="col-2">
                            <span class="price"></span>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-light smaller-text">Avo (SQ), pineapple (N$15), bacon (N$40), Peppadew (N$15), parma ham (N$75), mozzarella (N$40), chicken (N$25), ham (N$40)</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr class="col-11 border-line">
        </div>
    </div>        
</div> -->