
    <div class="slider-container">
        <div class="slider-item">
            <div class="bg-image bg-image-breakfast square"></div>
        </div>
        <div class="slider-item"> 
            <div class="bg-image bg-image-cappuccino square"></div>
        </div>
        <div class="slider-item"> 
            <div class="bg-image bg-image-mezze square"> </div>
        </div>
        <div class="slider-item"> 
            <div class="bg-image bg-image-eggs square"></div>
        </div>
    </div>


