<div class="slider-container">
    <div class="slider-item"> 
        <div class="bg-image temp-image-5 square "></div>
    </div>
    <div class="slider-item">
        <div class="bg-image temp-image-8 square "></div>
    </div>
    <div class="slider-item"> 
        <div class="bg-image temp-image-3 square"></div>
    </div>
    <div class="slider-item"> 
        <div class="bg-image catering-4 square"> </div>
    </div>
    <div class="slider-item"> 
        <div class="bg-image temp-image-18 square"></div>
    </div>
    <div class="slider-item"> 
        <div class="bg-image catering-6 square"></div>
    </div>
    <div class="slider-item"> 
        <div class="bg-image temp-image-2 square"></div>
    </div>
    <div class="slider-item"> 
        <div class="bg-image temp-image-7 square"></div>
    </div>
    <div class="slider-item"> 
        <div class="bg-image temp-image-10 square"></div>
    </div>
</div>


