<!DOCTYPE html>
<html lang="en">

<!------- This is the head of the HTML for linking external resources & metadata ------->
<head> 

    {% include head.html %}

</head> 



<!------ This is the body, where all of the contents of our page go  ------->
<body>

    <!-- This is the navigation bar  ------->
    <header class="grid padded-05 bg-dark light-text">
        <div class="col-3_sm-11-middle padded-0 sm-padded-b-0">
            <a href="/index.html">
                <img src="/images/freshnwild-logo-reversed-out.svg" alt="Logo" class="logo md-logo">
            </a>
        </div>
        <nav class="col-9_sm-12-middle right uppercase font-weight-bold mob-hide padded-05 padded-r sm-text-center">
            <a href="/restaurant-at-utopia.html"> Restaurant </a>
            <a href="/coffeeshops-woermann.html"> Coffee Shops </a>
            <a href="/catering.html"> Catering </a>
            <a href="/calendar.html"> What's Happening </a>
            <a href="/contact.html"> Contact </a>
        </nav>
        <div class="col-1"> 
            <a class="hamburger-button mob-show right"> &#9776; </a>
        </div>
    </header>


    <!---Mobile menu hamburger button -->
    <div class="mobile-menu bg-dark light-text padded"> 
        <div>
            <a href="/index.html">
                <img src="/images/freshnwild-logo-reversed-out.svg" alt="Logo" class="logo md-logo">
            </a>
        </div>
        <nav class="uppercase">
            <a href="/restaurant-at-utopia.html"> Restaurant </a>
            <a href="/coffeeshops-woermann.html"> Coffee Shops </a>
            <a href="/catering.html"> Catering </a>
            <a href="/calendar.html"> What's Happening </a>
            <a href="/contact.html"> Contact </a>
        </nav>
    </div>


    {{ content }}



    <!---Site Footer ---------------------->
    <footer class="grid-spaceAround padded padded-t bg-dark light-text">

        <div class="footer-logo col-4_md-12 xs-padded sm-text-center margin-b-1"> 
            <a href="/index.html">
                <img src="/images/freshnwild-logo-reversed-out.svg" alt="Logo" class="logo">
            </a>
        </div>

        <nav class="col-3_xs-12 uppercase sm-text-center margin-b-1 hide-xs">
            <h5>Navigation</h5>
            <a href="/restaurant-at-utopia.html"> Restaurant </a>
            <a href="/coffeeshops-woermann.html"> Coffee Shops </a>
            <a href="/catering.html"> Catering </a>
            <a href="/calendar.html"> What's Happening </a>
            <a href="/contact.html"> Contact </a>
        </nav>


        <!-- Social links -->
        <nav class="col-2_xs-3 uppercase social-links sm-text-center margin-b-1"> 
            <h5>Follow us</h5>
            <a href="https://www.facebook.com/FreshnWildUtopia" target="_blank"> 
                <img src="/images/facebook-icon-gold.svg" class="icon" alt="facebook icon" />       
            </a>
            <a href="https://www.instagram.com/freshnwild_utopia/" target="_blank">
                <img src="/images/instagram-icon-gold.svg" class="icon" alt="instagram icon" />   
            </a>
            <a href="https://www.tripadvisor.com/Restaurant_Review-g293821-d3863290-Reviews-Fresh_n_Wild_At_Utopia-Windhoek_Khomas_Region.html" target="_blank">
                <img src="/images/tripadvisor-icon.svg" class="icon" alt="tripadvisor icon" />   
            </a>
        </nav>

            <!-- Order links -->
        
        <nav class="col-2_xs-3 uppercase social-links sm-text-center margin-b-1"> 
            <h5>Tap a Meal</h5>
            <a href="#"> 
                <img src="/images/tap-a-Meal.png" class="icon" alt="tap a meal icon" />       
            </a>
        </nav>
            


        <!-- Copyright -->
        <!-- <div class="col-12 center xs-padded-05 italic padded-t-2 padded-b-1 copyright-section">
            <p class="subtle"> © 2024 Fresh 'n Wild | <span> Website by <a class="credit-link subtle">Julita Creations Studio</a></span> </p>
        </div>  -->

    </footer>


    <!--JavaScript etc files-------->
    {% include body-scripts.html %}



</body>
</html>