<!DOCTYPE html>
<html>

<!------- This is the head of the HTML for linking external resources & metadata ------->
<head> 

    <!-- The title for SEO & browser tabs -->
    <title> Fresh 'n Wild </title>

    <!-- Viewport meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

    <!-- Add Google Fonts Here  ------>
    <!-- Rubik  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <!-- My own custom stylesheet-this always goes last -->
    <link rel="stylesheet" href="/style.css">
    
</head>



<!------ This is the body, where all of the contents of our page go  ------->
<body>

    <!-- This is the navigation bar  ------->
    <header class="grid padded-05 bg-dark light-text">
        <div class="col-3_sm-11-middle padded-0 sm-padded-b-0">
            <a href="/index.html">
                <img src="/images/freshnwild-logo-reversed-out.svg" alt="Logo" class="logo md-logo">
            </a>
        </div>
        <nav class="col-9_sm-12-middle right uppercase font-weight-bold mob-hide padded-05 padded-r sm-text-center">
            <a href="/restaurant-at-utopia.html"> Restaurant </a>
            <a href="/coffeeshops-woermann.html"> Coffee Shops </a>
            <a href="/catering.html"> Catering </a>
            <a href="/calendar.html"> Calendar </a>
            <a href="/contact.html"> Contact </a>
        </nav>
        <div class="col-1"> 
            <a class="hamburger-button mob-show right"> &#9776; </a>
        </div>
    </header>


    <!---Mobile menu hamburger button -->
    <div class="mobile-menu bg-dark light-text padded"> 
        <div>
            <a href="/index.html">
                <img src="/images/freshnwild-logo-reversed-out.svg" alt="Logo" class="logo md-logo">
            </a>
        </div>
        <nav class="uppercase">
            <a href="/restaurant-at-utopia.html"> Restaurant </a>
            <a href="/coffeeshops-woermann.html"> Coffee Shops </a>
            <a href="/catering.html"> Catering </a>
            <a href="/calendar.html"> Calendar </a>
            <a href="/contact.html"> Contact </a>
        </nav>
    </div>


    {{ content }}



    <!---Site Footer ---------------------->
    <footer class="grid-spaceAround padded-lg padded-t padded-b-0 bg-dark light-text">

        <nav class="col-12 footer-nav uppercase">
            <a href="/restaurant.html"> Restaurant </a>
            <a href="/coffeeshops.html"> Coffee Shops </a>
            <a href="/catering.html"> Catering </a>
            <a href="/calendar"> Calendar </a>
            <a href="/contact.html"> Contact </a>
        </nav>



        <div class="footer-logo col-12-middle center padded-sm xs-padded"> 
            <a href="/index.html">
                <img src="/images/freshnwild-logo-reversed-out.svg" alt="Logo" class="logo">
            </a>
        </div>

        <!-- Social links -->
        <div class="col-2_xs-12 xs-text-center xs-padded-1">
            <nav class="social-links"> 
                <a href="#"> 
                    <img src="/images/facebook-icon-gold.svg" class="icon" alt="facebook icon" />       
                </a>
                <a href="#">
                    <img src="/images/instagram-icon-gold.svg" class="icon" alt="instagram icon" />   
                </a>
                <a href="#">
                    <img src="/images/tripadvisor-icon.svg" class="icon" alt="tripadvisor icon" />   
                </a>
            </nav>
        </div>

        <!--Copyright -->
        <!-- <div class="col-12 center xs-padded-05 italic padded-t-2 padded-b-1 copyright-section">
            <p class="subtle"> © 2024 Fresh 'n Wild | Website by <a class="credit-link">Julita Creations Studio</a> </p>
        </div>  -->

    </footer>

    <!-- Add jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Custom JavaScript file -->
    <script src="/scripts.js"></script>

</body>
</html>